.accountBar{
    width:100%;
    border-bottom: 1px lightgray solid;
    height: 10vh;
    position: relative;
    left: 25px;
}

.avatar{
    margin-left: 20px;
    width: 55px;
    height: 55px;
    padding: 5px;
    border-radius:50%;
    border: 1px lightblue solid;
}

.accountContainer{
    position: absolute;
    right: 2%;
    top:50%;
    transform: translate(0,-50%);
}

#signOut{
    display:inline-block;
    background-color: #FF9EDA;
    color: white;
    border-radius: 5px;
    margin-right: 15px;
    padding: 0px 6px 0px 6px;
}